assets/*
renders/*
sia_format/*
sia_dev_tools/*
broken_files.txt
__pycache__
.mypy_cache
.vscode
sia_parser/src/main.rs
sia_viewer/objs/*
sia_parser/tests/*
test_suite/*
*.ffs_db
*.lock
blender_addons/import_all_files_in_blender.py
blender_addons/io_scene_sia.zip
